@page
@model EduToyRentalPlatform.Pages.Admin.FeedbackManage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FeedBack</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedBack.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack.Toy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedBack.Toy.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedBack.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedBack.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack.LastUpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedBack.LastUpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack.DeletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedBack.DeletedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedBack.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack.LastUpdatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedBack.LastUpdatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack.DeletedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeedBack.DeletedTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FeedBack.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
