@page
@model ToyShopRentalPlatform.Pages.Admin.Order.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContractEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.RestoreToyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.RestoreToyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.StaffConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.StaffConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.TotalValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.TotalValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.NumberOfRentals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.NumberOfRentals)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.ContractEntity.ContractType) *@
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.ContractEntity.ContractType) *@
        </dd>
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.DateStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.DateStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.DateEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.DateEnd) *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.ApplicationUser.FullName)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.ContractEntity.Toy) *@
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.ContractEntity.Toy.Id) *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.LastUpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.LastUpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.DeletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.DeletedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.LastUpdatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.LastUpdatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEntity.DeletedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEntity.DeletedTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ContractEntity.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
